Bookmark Manager<p></p>
<% @maker = "http://www.makersacademy.com/" %>
<% @destroy = 'http://www.destroyallsoftware.com' %>
<a href=<%= @maker %>><%= @titles %></a>
<a href=<%= @destroy %>><%= @titles %></a>
<a href="/bookmarks/add">Add a bookmark</a>
