Bookmark Manager<p></p>
<ul>
  <% @bookmarks.each do |row| %>
    <li>
      <a href=<%= row['url'] %>><%= row['title'] %></a> <p></p>
    </li>
  <% end %>
</ul>   

<a href="/bookmarks/add">Add a bookmark</a>